@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f2f2f2;
}



/* section 2 et toute ces modification  */
.tr8{
  background-color: #504c4c;
  span{
    color: #fff;
  }
}

/* section 3 et toute ces modification  */

.section3{
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   /* background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%); */
   
   background-position: center;
   background-attachment: fixed;
   position: relative;
   margin-top: 80px;
  }
  
  @media screen and (max-width : 1050px){
    .section3{
        width: 100%;
       padding-left: 50px;
       margin-left: 0;
    }
  }
  

.section3 .box {
  width: 100%;
  margin-top: 30px;
}

.section3 .box  h2{
  width: 80%;
  border-bottom: 2px solid #797979;
  background-color: #ffffff;
  border-radius: 15px;
padding: 10px 20px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.section3 .h3{
    width: 60%;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 350px;
    border-bottom: 2px solid #b7b7b7;
    padding: 10px 20px;
    transition: all 0.3s;
  }
  @media screen and (max-width : 700px){
    .section3 .h3{
        width: 80%;
       font-size: 12px;
      }
  }
  .section3 .h3:hover{
    background-color: #008ec2;
  }

  .section3 .h3 span{
    background-color: #e3e3e3;
    padding: 1px 5px;
    border-radius: 20px;
    padding: 3px 10px;
  }

  .section3 .h3 strong{
    padding: 2px 8px;
    color: #ffffff;
    background-color: #ea1414bd;
    border-radius: 7px;
  }
.section3 .box  h2 span{
  padding: 4px  10px;
  background-color: #ffffff;
  border-radius: 4px;
}


.section3{
 
  .container{
    margin-top: 20px;
    background-color: #ffffff;
    width: 95%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    position: relative;
    .suprim{
      position: absolute;
      top: 10px;
      right: 20px;
      width: 25px;
      cursor: pointer;
    }
 
    .comm{
      background-color: #fefefe;
      width: 210px;
      height: 280px;
      border: 2px solid #a8a8a8;
      box-shadow: 3px 3px 5px 0 #cecdcd;
      margin: 10px 20px;
      position: relative;
      border-radius: 10px;
      transition: all 0.4s;

      div{
        display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #26c00467;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      overflow: hidden;
        height: 120px;
        width: 100%;

         .img{
        width: 80px;
        height: 80px;
      }
      }
     

      h3{
        width: 100%;
        padding: 2px 20px;
        font-size: 11px;
        color: #ffffff;
        text-align: center;
      }

      h4{
        position: absolute;
        bottom: 0px ;
        width: 100%;
        padding: 6px 10px ;
        text-align: center;
        color: #ffffff;
        font-size: 10px;
        background-color: #26c00467;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }

      p{
        font-size: 10px;
        color: #363636;
        margin-bottom: 5px;
      }

      .pin{
        width: 100%;
        color: #008ec2;
        font-size: 11px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        strong{
          color: #242424;
        }
      }

      .mail{
        width: 100%;
        color: #01c505;
        font-size: 11px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        strong{
          color: #242424;
        }
      }

      ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        li{
          margin-top: 5px;
          font-size: 12px;
          display: flex;
          align-items: center;
          margin: 5px 10px;
          img{
            width: 40px;
            height: 30px;
            border-radius: 10px;
          }
        }
      }
    }
    
     .box01{

      div{
      background-color: #efa5059b;
      }
     

      h4{
        background-color: #efa5059b;
      }

    
    }

    .box02{

      div{
      background-color: #ef05057d;
      }
     
    
      h4{
        background-color: #ef05057d;
      }
    
   
    }

    #supp{
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px;
      background-color: #eeeeee94;
     width: 25px;
     border-radius: 20px;
    }

    #rest{
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 5px;
      background-color: #f5f5f5c7;
     width: 25px;
     border-radius: 20px;
    }

  }


  .container_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (max-width : 700px) {
    .search-bar {
      width: 100%;
    }
  
    #search-input {
      background-color: #fdfdfd;
      color: #242424;
      border: none;
      padding: 6px;
      border-radius: 5px 0 0 5px;
      width: 100%;
      font-size: 14px;
      border-radius: 10px;
    }
    .container{
      width: 98%;
      padding:10px 0;

      .comm{
        width: 160px;
        height: 220px;
        margin: 10px 15px;
  
        div{
          height: 100px;
          width: 100%;
  
           .img{
          width: 50px;
          height: 50px;
        }
        }
       
  
        h3{
          padding: 2px 20px;
          font-size: 9px;
        }
  
        h4{
          font-size: 7px;
        }
  
        p{
          font-size: 7px;
        }
  
        .pin{
          font-size: 8px;
          padding: 0 20px;
        }
  
        .mail{
          font-size: 8px;
          padding: 0 5px;
        }
  
        ul{
          margin-top: 2px;
          li{
            font-size: 9px;
            margin: 5px 7px;
            img{
              width: 30px;
              height: 20px;
            }
          }
        }
      }
  }
}

@media screen and (max-width : 500px) {
  .container{
    width: 98%;
    padding:10px 0;

    #supp{
      padding: 5px;
     width: 20px;
    }
    
    #rest{
      padding: 5px;
      width: 20px;
    }

    .comm{
      width: 130px;
      height: 170px;
      margin: 10px 10px;

      div{
        height: 60px;
        width: 100%;

         .img{
        width: 40px;
        height: 40px;
      }
      }
     

      h3{
        padding: 2px 20px;
        font-size: 7px;
      }

      h4{
        font-size: 6px;
      }

      p{
        font-size: 6px;
      }

      .pin{
        font-size: 7px;
        padding: 0 20px;
      }

      .mail{
        font-size: 7px;
        padding: 0 5px;
      }

      ul{
        margin-top: 2px;
        li{
          font-size: 8px;
          margin: 5px 7px;
          img{
            width: 30px;
            height: 20px;
          }
        }
      }
    }
}

}
}

#aff{
  display: none;
}
.box:hover{
  transform: scale(1.06);
}
.box01:hover{
  transform: scale(1.06);
}
.box02:hover{
  transform: scale(1.06);
}
